/* font famely and google font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}


.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #fafafa;
    padding: 20px 25px;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;
}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-taitle {
    font-size: 45px;
    font-weight: 700;
    color: var(--dark-01, #131313);

}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-style: 1em;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: var(--dark-02, #424242);

}

.banner-conten {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-taitle {
    font-weight: 700;
    font-size: 64px;
    color: var(--dark-01, #131313);

}

.banner-drisciption {
    color: var(--dark-03, #727272);


}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/* responcive styles  */



/* main seaction  */
main {
    max-width: 1440px;
    margin: 80px auto;
}

.tims {
    display: flex;
    align-items: center;
}

.tims-img-continer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.tims-contant {
    padding-right: 70px;
    padding-left: 70px;
}

.tims-list {
    font-size: 2.8rem;
}

.tims-list .con {
    color: var(--dark-03, #727272);
    font-weight: 500;
}

.tims-list .oii {
    color: #FF900E;
    font-weight: 700;

}



.card-cd .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.card-cd {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-cd,
.card-taitle {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;

}

.card-cd,
.cars-stads {
    font-size: 2.8rem;
    color: var(--dark-02, #424242);

}

/* mobail divash */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .tims {
        flex-direction: column;
    }

    .tims-img-continer {
        grid-template-columns: 1fr;
    }

    .tims-contant {
        padding-right: 20px;
        padding-left: 20px;
    }
}


/* tablect or mideyem divaisess */
@media screen and(min-width:576px)and(max-width: 960px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

}

/* new projects */